body {
    margin: 0;
    padding: 0;
    background-image: url("../img/leaves.png");
}

.form {
    font-family: 'Poppins', sans-serif;
    width: 40%;
    height: auto;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form_header {
    width: 100%;
    height: 150px;
    background-image: url("../img/loginbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.button {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-top: 2px solid rgba(44, 87, 70, 1);
    background-color: rgb(255, 255, 255, .2);
    cursor: pointer;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.button:hover {
    border-top: 2px solid rgba(174, 206, 169, 1);
    background-color: rgba(44, 87, 70, .7);
    color: white;
}

.button::selection {
    background-color: transparent;
}

.form_main {
    width: 100%;
    height: auto;
    background-color: rgba(230, 233, 201, 1);
}

.input-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

form {
    background-color: transparent;
    padding: 25px 0;
}

.icon {
    padding: 10px;
    background: rgba(81, 124, 104, 1);
    color: white;
    min-width: 50px;
    text-align: center;
}

.form_input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid rgba(230, 233, 201, 1);
    border-left: 2px solid white;
}

.form_input:focus {
    border: 2px solid rgba(81, 124, 104, 1);
}

.form_submit {
    background-color: rgba(81, 124, 104, 1);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    transition: .2s;
}

.form_submit:hover {
    opacity: 1;
}

.form_submit:active {
    color: rgb(191, 191, 191)
}

/* Checkbox styles */
.label_container {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 18px;
    font-weight: 200;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80%;
    margin-bottom: 10px;
}

.label_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
}

.label_container:hover input~.checkmark {
    background-color: #ccc;
}

.label_container input:checked~.checkmark {
    background-color: rgba(81, 124, 104, 1);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label_container input:checked~.checkmark:after {
    display: block;
}

.label_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}